body {
  padding: 4em 2em 10em;
  height: 100%;
  overflow: hidden;
}

body,
.wrapper {
  margin: 18px auto;
  font-family: Fira Sans;
}

header {
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  background-color: #A32638;
  color: white;
  padding-left: 2em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #A32638;
  color: white;
  padding-left: 2em;
}

/* Classifications on left of the Site */
.leftSection {
  width: 490px;
  height: 100%;
  float: right;
}

.classificationContainer {
  height: calc(100% - 8em);
  position: absolute;
  padding: 5px;
  background-color: lightgrey;
}

.test {
  height: calc(100%);
}

.detailContainer {
    height: calc(100%);
    overflow-y: auto;
    overflow-x: hidden;
}

/* Images on the left of the Site */
.rightSection {
  height: 100%;
  width: calc(100% - 550px);
  float: left;
}
.imagesContainer {
  height: calc(60%);
  width: calc(100% - 550px - 64px);
  position: absolute;
  overflow: auto;
  padding-top: 10px;
}
.ssimContainer {
  height: 90px;
  width: calc(100% - 550px - 64px);
  position: absolute;
  bottom: 3em; 
  background-color: lightgrey;
}

/* Selection style for selecting Image Groups */
rect.selected {
  stroke: black;
}
rect.correctly {
  fill: #A32638;
}
rect.falsely {
  fill: #24740B;
}

select {

  /* styling */
  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  width: 100%;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, darkgrey 50%),
    linear-gradient(135deg, darkgrey 50%, transparent 50%),
    linear-gradient(to right, lightgrey, lightgrey);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}